<p id="notice"><%= notice %></p>

<p>
  <b>Item:</b>
  <%= @store.item_id %>
</p>

<p>
  <b>Pieces remaining:</b>
  <%= @store.pieces_remaining %>
</p>

<p>
  <b>Integer:</b>
  <%= @store.integer %>
</p>


<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
