<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Brand:</b>
  <%= @item.brand %>
</p>

<p>
  <b>Price:</b>
  <%= @item.price %>
</p>

<p>
  <b>Category:</b>
  <%= @item.category_id %>
</p>


<td><%= button_to "Add to Cart", :method=> "add_to_cart" %></td> |
<%= link_to 'Back', items_path %>
